<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwZaFXqaZhROSQ8WCF1p6oio5ZB_AxfrE</string>
	<key>GCM_SENDER_ID</key>
	<string>675329531745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandro.Sia</string>
	<key>PROJECT_ID</key>
	<string>siafinal-7f901</string>
	<key>STORAGE_BUCKET</key>
	<string>siafinal-7f901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675329531745:ios:85b6a4381834a92cb12f20</string>
</dict>
</plist>